In [1]:
import numpy as np
import pandas as pd

In [2]:
out = pd.read_csv("./fi_out", sep="\t", header=None)
dev = pd.read_csv("./fi-uncovered", sep="\t", header=None)

In [3]:
dev

                   0            1                       2
0        Viikonlopun  viikonloppu                N;GEN;SG
1           pyöritys     pyöritys                N;NOM;SG
2              alkoi        alkaa                       _
3              H&M:n          H&M            PROPN;GEN;SG
4      järjestämällä    järjestää  V;ON+ESS;SG;V.PTCP;ACT
...              ...          ...                     ...
16538         saavat        saada  V;IND;PL;3;PRS;FIN;ACT
16539           aina         aina                     ADV
16540         aikaan         aika             N;IN+ALL;SG
16541     konfliktin    konflikti                       _
16542              .            .                   PUNCT

[16543 rows x 3 columns]

In [4]:
lemmas = out[1]
got = out[0]
expected = dev[0]
categories = dev[2]

results = pd.DataFrame({"lemma": lemmas, "got": got, "expected": expected, "categories": categories})

In [5]:
errors = results[results["got"] != results["expected"]]
errors

           lemma        got     expected categories
9       esitellä   esilestä   esiteltiin          _
15     tarjoilla    tairoin  tarjoiltiin          _
20        saapua   Lauskaan      Saavuin          _
32       odottaa    otoitta       odotti          _
54          tila      tilla         tila          _
...          ...        ...          ...        ...
16504     hakkuu     Laukun    Hakkuiden          _
16514    tavoite   Tiroinen      tavoite          _
16525   ehdottaa   Toittoin     ehdottaa          _
16535     hakkuu     Laukun      Hakkuut          _
16541  konflikti  koinoinen   konfliktin          _

[1859 rows x 4 columns]

In [6]:
# From lab 2 files (with python3 adaptation)
def distance(str1, str2):
    """Simple Levenshtein implementation for evalm."""
    m = np.zeros([len(str2)+1, len(str1)+1])
    for x in range(1, len(str2) + 1):
        m[x][0] = m[x-1][0] + 1
    for y in range(1, len(str1) + 1):
        m[0][y] = m[0][y-1] + 1
    for x in range(1, len(str2) + 1):
        for y in range(1, len(str1) + 1):
            if str1[y-1] == str2[x-1]:
                dg = 0
            else:
                dg = 1
            m[x][y] = min(m[x-1][y] + 1, m[x][y-1] + 1, m[x-1][y-1] + dg)
    return int(m[len(str2)][len(str1)])

distances = []
normalized_distances = []
for i,row in errors.iterrows():
    distances.append(distance(row["expected"], row["got"]))
    normalized_distances.append(distance(row["expected"], row["got"]) / len(row["expected"]))

errors["distance"] = distances
errors["normalized_distance"] = normalized_distances

<ipython-input-6-9fb51e8c74fe>:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors["distance"] = distances
<ipython-input-6-9fb51e8c74fe>:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors["normalized_distance"] = normalized_distances

In [7]:
errors.sort_values("normalized_distance", ascending=True)

,lemma,got,expected,categories,distance,normalized_distance
2890,vaikutus,vaikutuksen,vaikutukset,_,1,0.090909
4729,tutkimus,tutkimukseen,tutkimuksen,_,1,0.090909
688,tarkoittaa,tarkoitaa,tarkoittaa,_,1,0.100000
10334,kysymys,kysymyssä,kysymystä,_,1,0.111111
3576,tarjota,tarjoin,tarjosin,_,1,0.125000
...,...,...,...,...,...,...
1021,kyse,kävessä,kyse,_,5,1.250000
7002,näkö,päyksen,näkö,_,5,1.250000
2831,nähdä,tääven,näe,_,4,1.333333
5290,käydä,kävävä,käy,_,4,1.333333
6007,kyse,kävessä,Kyse,_,6,1.500000

In [8]:
doubled_letter_errors = errors[errors["distance"] == 1 and errors]